<ion-header no-border>
  <div class="header-n">
    <div class="button" (click)="back()">
      <img src="assets/icon/back.svg" alt="">
    </div>
    <div class="center">
      <div class="input">
          <input type="text" placeholder="ค้นหาเลขห้อง" (input)='onInputTime($event.target.value)'>
      </div>
    </div>
    <div class="button">
      <img src="assets/icon/scan.svg" alt="">
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="no-data">
    <img src="assets/icon/search.svg" alt="">
    <div>ค้นหาเลขห้อง</div>
  </div>
  <div class="result" *ngIf="result.length">
    <div class="item" *ngFor="let room of result" (click)="open(room.room)">
      <div class="icon">
        <img src="assets/icon/double-king.svg" alt="">
      </div>
      <div class="label">ห้อง {{room.room}}</div>
    </div>
  </div>
</ion-content>