.header-n{
    height: 50px;
    background-color: var(--color-app-3);
    display: flex;
    align-items: center;
    width: 100%;
    .button{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        background-color: var(--color-app-3);
        img{
            width: 22px;
            height: 22px;
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
        }
    }
    .button:active:hover{
        background-color: var(--color-app-4);
        img{
            width: 20px;
            height: 20px;
        }
    }
    .center{
        flex: 1;
        // padding: 0 10px;
        color: var(--color-app-5);
        text-align: center;
        font-weight: bold;
        &.c{

        }
        .input{
            width: 100%;
            height: 40px;
            border-radius: 10px;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                width: 100%;
                background: none;
                border: none;
                outline: none;
                padding: 0 10px;
                color: var(--color-app-3);
            }
        }
    }
}


.box-search{
    background-image: linear-gradient(to right,#E84F6E, #EB6A52 );
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    .input{
        flex: 1;
        height: 40px;
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        input{
            width: 100%;
            border: none;
            outline: none;
            padding: 5px;
            padding-left: 10px;
            border-radius: 5px;
        }
    }
    .button-scan{
        width: 25px;
        height: 25px;
        -webkit-transition: all 100ms ease-out;
        transition: all 100ms ease-out;
    }
    .button-scan:active:hover{
        padding: 2px;
    }
}

ion-content{
    --background:#F2F2F2;
}


.no-data{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 14px;
    width: 100%;
    padding: 20px;
    color: #7F8388;
    margin-top: 30px;
    img{
        width: 60px;
        height: 60px;
    }
}

.result{
    min-height: 100%;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    position: absolute;
    top: 0;
    .item{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 0;
        .icon{
            width: 25px;
            height: 25px;
        }
        .label{
            font-size: 14px;
            flex: 1;
            padding-left: 10px;
        }
    }
}