<ion-header no-border>
  <div class="header-n">
    <div class="button" (click)="back()">
      <img src="assets/icon/back.svg" alt="">
    </div>
    <div class="center"></div>
    <div class="button">
      <!-- <img src="assets/icon/logout-app.svg" alt=""> -->
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="container">
    <div class="camera">
      <img src="{{picture}}" alt="">
    </div>
    <div class="form">
      <div class="input">
        <input type="text" placeholder="เลขห้อง" [(ngModel)]="room">
      </div>
      <div class="button" (click)="save()">
        <img src="assets/icon/chevron.svg" alt="">
      </div>
    </div>
  </div>
</ion-content>