.header-n{
    height: 50px;
    background-color: var(--color-app-3);
    display: flex;
    align-items: center;
    width: 100%;
    .button{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        background-color: var(--color-app-3);
        img{
            width: 22px;
            height: 22px;
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
        }
    }
    .button:active:hover{
        background-color: var(--color-app-4);
        img{
            width: 20px;
            height: 20px;
        }
    }
    .center{
        flex: 1;
        padding: 0 10px;
        color: var(--color-app-5);
        text-align: center;
        font-weight: bold;
        &.c{

        }
    }
}

.form{
    padding: 20px;
    display: flex;
    width: 100%;
    .input{
        height: 40px;
        flex: 1;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #ffffff;
        input{
            width: 100%;
            border: none;
            background: none;
            outline: none;
            padding-left: 10px;
            font-size: 14px;
        }
    }
    .button{
        height: 40px;
        width: 40px;
        border-radius: 10px;
        background-color: var(--color-app-6);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        img{
            width: 23px;
            height: 23px;
        }
    }
    .button:active:hover{
        filter: brightness(0.5);
    }
}

ion-content{
    --background:#F2F2F2;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 660px;
    margin: auto;
    .camera{
        width: 100%;
        padding-top: 100%;
        background-color: #000000;
        overflow: hidden;
        position: relative;
        img{
            position: absolute;
            width: 100%;
            top: 0;
        }
    }
}


.bill{
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    .qrcode{
        img{
            width: 200px;
            width: 200px;
        }
    }
    .num{
        font-size: 20px;
        font-weight: bold;
    }
    .date{

    }
}