<ion-content>
  <div class="bill" id="bill" #bill>
    <div class="qrcode">
      <qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
    </div>
    <div class="num">{{myAngularxQrCode}}</div>
    <div class="date">{{room}}</div>
  </div>
  <div class="form" *ngIf="!isSave">
    <div class="button c" (click)="finish()">เสร็จสิ้น</div>
    <div class="button" (click)="save()">บันทึก</div>
  </div>
</ion-content>