.numed-header{
    height: 130px;
    background: #6cacad;
    clip-path: polygon(0 0,100% 0,100% 50%,0 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    .icon{
        width: 70px;
        height: 70px;
        padding: 10px;
    }
    .text{
        display: flex;
        flex-direction: column;
        color:#ffffff;
        .text-1{
            font-size: 2em;
            padding: 0;
        }
        .text-2{
            font-size: 1em;
            padding: 0;
            margin-top: -1em;
        }
    }
}