<div class="numed-header">
  <div class="icon">
    <img src="assets/icon/add.png" alt="">
  </div>
  <div class="text">
    <div class="text-1">NU MEDICALL</div>
    <div class="text-2">NARESUAN UNIVERSITY</div>
  </div>
</div>