ion-content{
    --background:#000000;
}

.came{
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-size: cover;
    background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/naturally-beautiful-royalty-free-image-914475602-1547585919.jpg')
}
.on-came{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}