<ion-content>
  <!-- <div class="bg-top"></div>
  <div class="bg-bottom"></div>
  <div class="container">
    <div class="logo">My Package</div>
    <div class="input">
      <input type="text" placeholder="เลขห้อง" [(ngModel)]="room">
    </div>
    <div class="input">
      <input type="password" placeholder="รหัสผ่าน" autocomplete="off" [(ngModel)]="password">
    </div>
    <div class="button" (click)="login()">เข้าสู่ระบบ</div>
  </div>
  <div class="loading-box" *ngIf="isLoading" [@myAnimation2]>
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div> -->
  <div class="container">
    <div class="logo">
      <img src="assets/icon/icon_my_pacakge.svg" alt="">
    </div>
    <div class="form">
      <div class="input">
        <div class="icon">
          <img src="assets/icon/double-king-size-bed.svg" alt="">
        </div>
        <div class="box">
          <input type="text" placeholder="เลขห้อง" [(ngModel)]="room">
        </div>
      </div>
      <div class="input">
        <div class="icon">
          <img src="assets/icon/smart-lock.svg" alt="">
        </div>
        <div class="box">
            <input type="password" placeholder="รหัสผ่าน" [(ngModel)]="password">
        </div>
      </div>
      <div class="button" (click)="login()">เข้าสู่ระบบ</div>
    </div>
  </div>
</ion-content>