.container{
  max-width: 660px;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo{
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    height: 80px;
  }
}

.form{
  width: 100%;
  padding: 30px;
  .input{
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--color-app-6);
    margin: 10px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    .icon{
      width: 25px;
      height: 25px;
      margin: 0 10px;
    }
    .box{
      flex: 1;
      input{
        width: 100%;
        background: none;
        border: none;
        color:#ffffff;
        outline: none;
      }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--color-app-2);
        opacity: 1; /* Firefox */
      }
    }
  }
  .button{
    background-color: var(--color-app-6);
    border-radius: 10px;
    height: 40px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:#ffffff;
  }
}

ion-content{
  --background:#20242A;
}