<ion-header no-border>
  <div class="header-n">
    <div class="button" (click)="back()">
      <img src="assets/icon/back.svg" alt="">
    </div>
    <div class="center">
      สแกนของออก
    </div>
    <div class="button">
      <img src="assets/icon/scan.svg" alt="">
    </div>
  </div>
</ion-header>
<!-- <ion-header>
  <div class="nav-app">
    <div class="button" (click)="back()">
      <img src="assets/icon/back2.svg" alt="">
    </div>
    <div class="label">ห้อง {{room}}</div>
    <div class="button" [class.alpha]="!countSelect" (click)="next()">
      <img src="assets/icon/verified-text-paper.svg" alt="">
    </div>
  </div>
</ion-header> -->

<ion-content>
  <div class="container">
    <div class="camera"></div>
    <div class="list">
      <div class="item" (click)="select(se.key)" *ngFor="let se of selectList">
        <div class="image">
          <img src="{{se.image}}" alt="">
        </div>
        <div class="detail">
          <div class="title">เลขพัสดุ {{se.package_id}}</div>
          <div class="date">พัสดุมาส่ง {{se.date}}</div>
        </div>
        <div class="select" *ngIf="se.select">
          <img src="assets/icon/correct-symbol.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</ion-content>