.header-n{
    height: 50px;
    background-color: var(--color-app-3);
    display: flex;
    align-items: center;
    width: 100%;
    .button{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        background-color: var(--color-app-3);
        img{
            width: 22px;
            height: 22px;
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
        }
    }
    .button:active:hover{
        background-color: var(--color-app-4);
        img{
            width: 20px;
            height: 20px;
        }
    }
    .center{
        flex: 1;
        padding: 0 10px;
        color: var(--color-app-5);
        text-align: center;
        font-weight: bold;
        &.c{

        }
    }
}
ion-content{
    --background:transparent;
    background-color: transparent;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.camera{
    width: 100vw;
    height: 100vw;
    // background-color: black;
}
.list{
    flex: 1;
    overflow: auto;
    width: 100%;
}
.item{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 5px;
    background-color: #ffffff;
    .image{
        width: 75px;
        height: 75px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .detail{
        padding: 10px;
        .title{
            font-size: 14px;
            font-weight: bold;
        }
        .date{
            font-size: 14px;
            color: #A9A9AB;
        }
    }
    .select{
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        right: 0;
        border-radius: 0 0 0 100%;
        background-image: linear-gradient(to right bottom,#E84F6E, #EB6A52 );
        img{
            width: 15px;
            height: 15px;
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
}