<ion-header>
  <div class="nav-app">
    <div class="button" [routerLink]="['','members','admin-room']" routerDirection="back">
      <img src="assets/icon/back2.svg" alt="">
    </div>
    <div class="label">เพิ่มห้อง</div>
  </div>
</ion-header>
<ion-content>
  <div class="form">
    <div class="input">
      <input type="text" placeholder="เลขห้อง" [(ngModel)]="room">
    </div>
    <div class="input">
      <input type="text" placeholder="ชื่อผู้ใช้" [(ngModel)]="username">
    </div>
    <div class="input">
      <input type="password" placeholder="รหัสผ่าน" [(ngModel)]="password">
    </div>
    <div class="button" (click)="save()">บันทึก</div>
  </div>
</ion-content>