.nav-app{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,#E84F6E, #EB6A52 );
    width: 100%;
    height: 50px;
    padding: 10px;
    .button{
        width: 25px;
        height: 25px;
        -webkit-transition: all 100ms ease;
        transition: all 100ms ease;
        outline: none;
    }
    .button:active:hover{
        padding: 2px;
    }
    .label{
        flex: 1;
        padding: 0 10px;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
    }
}
ion-content{
    --background:#F2F2F2;
}

.form{
    padding: 20px;
    .input{
        height: 40px;
        width: 100%;
        border-radius: 20px;
        // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #ffffff;
        input{
            width: 100%;
            border: none;
            background: none;
            outline: none;
            padding-left: 10px;
            font-size: 14px;
        }
    }
    .button{
        height: 40px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        margin-top: 15px;
        background-image: linear-gradient(to bottom, #EB6A52,#E84F6E );
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
    }
    .button:active:hover{
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    }
}