<ion-header>
  <div class="nav-app">
    <div class="button" [routerLink]="['','members','admin-room']" routerDirection="back">
      <img src="assets/icon/back2.svg" alt="">
    </div>
    <div class="label">ห้อง {{room}}</div>
  </div>
</ion-header>
<ion-content>
  <div class="card">
    <div class="item" *ngFor="let user of dataUser" (click)="changeStatus(user.userid)">
      <div [class]="(user.status=='on')?'icon active':'icon'">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16.079" height="21.14"
          viewBox="0 0 16.079 21.14">
          <defs>
            <linearGradient id="linear-gradient" x1="1.5" y1="1.912" x2="-0.45" y2="0.5"
              gradientUnits="objectBoundingBox">
              <stop offset="0" stop-color="#eb6a52" />
              <stop offset="1" stop-color="#e84f6e" />
            </linearGradient>
          </defs>
          <g id="man-user" transform="translate(-41.895)">
            <g id="Group_16" data-name="Group 16" transform="translate(41.895)">
              <path id="Path_36" data-name="Path 36"
                d="M108.791,10.339c2.35,0,4.256-2.314,4.256-5.169S112.421,0,108.791,0s-4.256,2.314-4.256,5.169S106.441,10.339,108.791,10.339Z"
                transform="translate(-100.752)" fill="url(#linear-gradient)" />
              <path id="Path_37" data-name="Path 37" d="M41.9,300.461c0-.174,0-.049,0,0Z"
                transform="translate(-41.895 -282.23)" fill="url(#linear-gradient)" />
              <path id="Path_38" data-name="Path 38" d="M308.085,301.644c0-.048,0-.331,0,0Z"
                transform="translate(-292.007 -283.276)" fill="url(#linear-gradient)" />
              <path id="Path_39" data-name="Path 39"
                d="M57.976,185.028c-.079-4.973-.728-6.391-5.7-7.288a3.492,3.492,0,0,1-4.661,0c-4.916.887-5.605,2.283-5.7,7.126-.007.4-.011.416-.012.37,0,.086,0,.245,0,.523,0,0,1.183,2.386,8.038,2.386s8.038-2.386,8.038-2.386c0-.178,0-.3,0-.386A3.205,3.205,0,0,1,57.976,185.028Z"
                transform="translate(-41.907 -167.005)" fill="url(#linear-gradient)" />
            </g>
          </g>
        </svg>
      </div>
      <div class="con">
        <div class="text14 gray bold">{{user.username}}</div>
        <div class="text12 gray">สร้างเมื่อ {{user.create_at}}</div>
      </div>
    </div>
    <div class="button-add gray bold" (click)="addUser()">เพิ่มผู้ใช้</div>
  </div>
  <div class="card">
    <div class="text14 gray bold">ห้อง 1311</div>
    <div class="text14 gray">จำนวนพัสดุทั้งหมด 16 ชิ้น</div>
  </div>
  <div class="list-card">
    <div class="card">
      <div class="text20 gray bold">5</div>
      <div class="text14 gray bold">วันนี้</div>
    </div>
    <div class="card">
      <div class="text20 gray bold">15</div>
      <div class="text14 gray bold">เดือนนี้</div>
    </div>
    <div class="card">
      <div class="text20 gray bold">25</div>
      <div class="text14 gray bold">ปีนี้</div>
    </div>
  </div>
  <div class="button-delete gray">ลบห้องนี้</div>
</ion-content>