.nav-app{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,#E84F6E, #EB6A52 );
    width: 100%;
    height: 50px;
    padding: 10px;
    .button{
        width: 25px;
        height: 25px;
        -webkit-transition: all 100ms ease;
        transition: all 100ms ease;
        outline: none;
    }
    .button:active:hover{
        padding: 2px;
    }
    .label{
        flex: 1;
        padding: 0 10px;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
    }
}
ion-content{
    --background:#F2F2F2;
}

.card{
    margin: 10px 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    .text20{
        font-size: 20px;
    }
    .text14{
        font-size: 14px;
    }
    .text12{
        font-size: 12px;
    }
    .gray{
        color:#414141;
    }
    .bold{
        font-weight: bold;
    }

    .item{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px 0;
        .icon{
            width: 20px;
            height: 20px;
            background-color: #F2F2F2;
            &.active{
                background-image: linear-gradient(to right,#E84F6E, #EB6A52 );
            }
        }
        .con{
            flex: 1;
            padding-left: 10px;
        }
    }
    .button-add{
        // padding: 1;
        text-align: center;
        outline: none;
    }
    .button-add:active:hover{
        font-weight: 100;
    }
}

.list-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    .card{
        margin: 10px;
        width: 100%;
        text-align: center;
    }
}

.button-delete{
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}
.button-delete:active:hover{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}