.item{
    color: #6cacad;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10px;
    .icon{
        width: 5em;
        height: 5em;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            -webkit-transition:all 0.1s ease-in;
            transition:all 0.1s ease-in;
        }
        .badge{
            font-size: 1em;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            background-color: red;
            font-size: red;
            text-align: center;
            color: #ffffff;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .icon:active:hover{
        img{
            width: 80%;
            height: 80%;
        }
    }
    .text{
        text-align: center;
        border-radius: 1em;
        background-color: #6cacad;
        color: #ffffff;
        font-size: 1em;
        margin-top: 10px;
        padding: 0 20px;
    }
    
}