<ion-header no-border>
  <div class="box-search">
    <div class="button-scan" [routerLink]="['','members','admin-home']" routerDirection="back">
      <img src="assets/icon/back2.svg" alt="">
    </div>
    <div class="input">
      <ion-input class="tu" placeholder="ค้นหาเลขห้อง" (input)='onInputTime($event.target.value)'></ion-input>
      <!-- <input type="text" placeholder="ค้นหาเลขห้อง" (input)='onInputTime($event.target.value)' [(ngModel)]="keySearch"> -->
    </div>
    <div class="button-scan" [routerLink]="['','members','admin-room-add']">
      <img src="assets/icon/add.png" alt="">
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="no-data">
    <div class="icon">
      <img src="assets/icon/magnifier.svg" alt="">
    </div>
    <div>ค้นหาเลขห้อง</div>
  </div>
  <div class="result" *ngIf="result.length">
    <div class="item" *ngFor="let room of result" (click)="open(room.room)">
      <div class="icon">
        <img src="assets/icon/opened-door-aperture.svg" alt="">
      </div>
      <div class="label">ห้อง {{room.room}}</div>
    </div>
    <div>ค้นหา {{keySearch}}</div>
  </div>
</ion-content>