.box-search{
    background-image: linear-gradient(to right,#E84F6E, #EB6A52 );
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    .input{
        flex: 1;
        height: 40px;
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        ion-input{
            width: 100%;
            border: none;
            outline: none;
            padding: 5px;
            padding-left: 10px !important;
            border-radius: 5px;
            --background: #ffffff;
        }
    }
    .button-scan{
        width: 25px;
        height: 25px;
        -webkit-transition: all 100ms ease-out;
        transition: all 100ms ease-out;
    }
    .button-scan:active:hover{
        padding: 2px;
    }
}

ion-content{
    --background:#F2F1F1;
}


.no-data{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 14px;
    width: 100%;
    padding: 20px;
    color: #414141;
    .icon{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right bottom,#E84F6E, #EB6A52 );
        margin: 20px;
        img{
            width: 55px;
            height: 55px;
        }
    }
}

.result{
    min-height: 100%;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    position: absolute;
    top: 0;
    .item{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 0;
        .icon{
            width: 25px;
            height: 25px;
        }
        .label{
            font-size: 14px;
            flex: 1;
            padding-left: 10px;
        }
    }
}