<ion-header>
  <div class="nav-app">
    <div class="button" [routerLink]="['','members']" routerDirection="back">
      <img src="assets/icon/back2.svg" alt="">
    </div>
    <div class="label">ตั้งค่า</div>
  </div>
</ion-header>
<ion-content>
  <div class="item margin">
    <div class="label">
      <div>ห้อง {{room}}</div>
      <div class="text-gray">ชื่อผู้ใช้ {{username}}</div>
    </div>
  </div>
  <div class="item margin">
    <div class="label">
      <div>เปิดการแจ้งเตือน</div>
      <div class="text-gray">ใช้แจ้งเตือนเมื่อมีพัสดุมาส่ง</div>
    </div>
    <div class="icon">
      <ion-toggle [(ngModel)]="noti" mode="ios" (ionChange)="notify()"></ion-toggle>
    </div>
  </div>
  <div class="item" (click)="logout()">
    <div class="label">ออกจากระบบ</div>
    <div class="icon">
      <img src="assets/icon/right-b.svg" alt="">
    </div>
  </div>
</ion-content>