.nav-app{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #EB6A52,#E84F6E );
    width: 100%;
    height: 50px;
    padding: 10px;
    .button{
        width: 25px;
        height: 25px;
        -webkit-transition: all 100ms ease;
        transition: all 100ms ease;
        outline: none;
    }
    .button:active:hover{
        padding: 2px;
    }
    .label{
        flex: 1;
        padding: 0 10px;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
    }
}

ion-content{
    --background:#F2F2F2;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    margin-top: 2px;
    &.margin{
        margin-top: 10px;
    }
    .label{
        flex:1;
        .text-gray{
            color:#C4C7CE;
        }
    }
    .icon{
        img{
            width: 30px;
            height: 30px;
        }
        ion-toggle{
            --background-checked:linear-gradient(to right, #EB6A52,#E84F6E );
        }
    }
}

.alert-title{
    text-align: center !important;
    &.sc-ion-alert-md{
        text-align: center !important;
    }
}