<ion-header no-border>
  <div class="header-n">
    <div class="button" (click)="back()">
      <img src="assets/icon/back.svg" alt="">
    </div>
    <div class="center">ถ่ายภาพพัสดุ</div>
    <div class="button">
      <!-- <img src="assets/icon/logout-app.svg" alt=""> -->
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="container">
    <div class="camera"></div>
    <div class="footer">
      <div class="button" (click)="cap()">
        <div class="center"></div>
      </div>
    </div>
  </div>
</ion-content>