.header-n{
    height: 50px;
    background-color: var(--color-app-3);
    display: flex;
    align-items: center;
    width: 100%;
    .button{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        background-color: var(--color-app-3);
        img{
            width: 22px;
            height: 22px;
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
        }
    }
    .button:active:hover{
        background-color: var(--color-app-4);
        img{
            width: 20px;
            height: 20px;
        }
    }
    .center{
        flex: 1;
        padding: 0 10px;
        color: var(--color-app-5);
        text-align: center;
        font-weight: bold;
        &.c{

        }
    }
}

ion-content{
    --background:transparent;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .camera{
        width: 100%;
        padding-top: 100%;
        overflow: hidden;
        position: relative;
        img{
            position: absolute;
            width: 100%;
            top: 0;
        }
    }
    .footer{
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F2F2F2;
        .button{
            width: 70px;
            height: 70px;
            background-color: #A9A9AB;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .center{
                width: 50px;
                height: 50px;
                background-color: #F2F2F2;
                border-radius: 50%;
                box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
                -webkit-transition: all 300ms ease-out;
                transition: all 300ms ease-out;
            }
            .center:active:hover{
                width: 45px;
                height: 45px;
                box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
            }
        }
    }
}
