<ion-content>
  <div class="container">
    <div class="card-post-pre" *ngIf="loadingTab1">
      <div class="timeline">
        <div class="c"></div>
        <div class="line">
          <div class="l"></div>
        </div>
      </div>
      <div class="con">
        <div class="text-pre"></div>
        <div class="con-image">
          <div class="image"></div>
          <div class="image"></div>
          <div class="image"></div>
        </div>
      </div>
    </div>
    <div class="card-post" *ngFor="let package of dataTab1">
      <div class="timeline">
        <div class="c" [class.new]="package.countNotRead"></div>
        <div class="line">
          <div class="l"></div>
        </div>
      </div>
      <div class="con">
        <div class="text-c" [class.new]="package.countNotRead">{{package.date}}</div>
        <div class="con-image">
          <div class="image" *ngFor="let img of package.allBox" (click)="showDetailItem(img)">
            <div class="new" *ngIf="!img.read"></div>
            <div class="show-image" [class.out]="img.status=='out'">
              <img src="{{img.image}}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="empty-data" *ngIf="!loadingTab1&&emptyTab1">
    <img src="assets/icon/empty-box.svg" alt="">
    <div class="text gray">ยังไม่มีข้อมูล</div>
  </div>
</ion-content>