ion-header{
    --background: transparent
}
.tab-mach{
    height: 100%;
}
ion-content{
    // --background:#FF94AB;
}
super-tabs-toolbar{
    background-color: #ffffff;
}
.ion-activatable{
    &.active{
        background-color: red;
        
    }
}
.headerx{
    background-color: #FF94AB;
    background-image: linear-gradient(to right bottom, #FF8195,#F9476C );
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    .logo{
        flex: 1;
        font-weight: 900;
        color: #ffffff;
        font-size: 1.5em;
    }
    .menu{
        display: flex;
        flex-direction: row;
        .menu-i{
            width: 30px;
            height: 30px;
            margin-left: 20px;
            -webkit-transition: all 100ms ease-out;
            transition: all 100ms ease-out;
            outline: none;
        }
        .menu-i:active:hover{
            padding: 5px;
        }
    }
}
.card-post{
    display: flex;
    flex-direction: row;
    .timeline{
        display: flex;
        flex-direction: column;
        .c{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 6px solid #F2F2F2;
            background-color: #E84F6E;
            &.new{
                border: 6px solid #EB6A52;
                background-color: #F2F2F2;
            }
        }
        .line{
            flex:1;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .l{
                background-color: #F2F2F2;
                width: 2px;
                height:100%;
            }
        }
    }
    .con{
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        .text-c{
            color:#A9A9AB;
            font-size: 12px;
            &.new{
                color:#414141;
            }
        }
        .con-image{
            margin-top: 10px;
            margin-bottom: 20px;
            background-color: #F2F2F2;
            // background-image: linear-gradient(to right, #F9FAF5 , #E4E4E4);
            display: grid;
            grid-template-columns: 33.3333% 33.3333% 33.3333%;
            padding: 10px;
            border-radius: 20px;
            .image{
                border-radius: 20px;
                background-color: #ffffff;
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin: 10px auto;

                .new{
                    background-color: #E84F6E;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 50%;
                }
                .show-image{
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    overflow: hidden;
                    &.out{
                        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                        filter: grayscale(100%);
                    }
                }
            }
        }
    }
}

.text{
    font-size: 1em;
    &.black{
        color: #000000;
    }
    &.gray{
        color:#C4C7CE;
    }
    &.lightgray{
        color:#E4E4E4;
    }
    &.white{
        color:#ffffff;
    }
    &.t2{
        font-size: 2em;
    }
}

.container{
    padding: 20px;
}


.tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    .tab{
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 20px 10px;
        padding: 5px;
        overflow: hidden;
        -webkit-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        // background-color: rgba(255,148,171,0.5);
        box-shadow: 0px 5px 10px rgba(255,148,171,0.5);
        position: relative;
        .icon{
            width: 30px;
            height: 30px;
        }
        .label{
            color: rgba(255,148,171,1.0);
            padding: 0 10px;
            -webkit-transition: all 2s;
            transition: all 2s;
            position: absolute;
            left: 35px;
            width: 100px;
        }
        &.active{
            width: 50%;
            // .label{
            //     display: block;
            // }
        }
    }
}

.slide-tab{
    width: 200%;
    display: flex;
    flex-direction: row;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    height: 100%;
    .tabx{
        flex:1;
        height: 100%;
        overflow: auto;
    }
    &.active{
        margin-left: -100%;
    }
}



.text-pre{
    height: 16px;
    width: 100%;
    background-color: #F2F2F2;
    animation:animation-bg 1500ms infinite linear;
}


.card-post-pre{
    display: flex;
    flex-direction: row;
    .timeline{
        display: flex;
        flex-direction: column;
        .c{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 6px solid #F2F2F2;
            background-color: #A9A9AB;
        }
        .line{
            flex:1;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .l{
                background-color: #F2F2F2;
                width: 2px;
                height:100%;
            }
        }
    }
    .con{
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        .con-image{
            margin-top: 10px;
            margin-bottom: 20px;
            background-color: #F2F2F2;
            // background-image: linear-gradient(to right, #F9FAF5 , #E4E4E4);
            display: flex;
            justify-content: space-around;
            padding: 10px;
            // border-radius: 20px;
            .image{
                // border-radius: 20px;
                overflow: hidden;
                background-color: #ffffff;
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                animation:animation-bg 1500ms infinite linear;
                &.plus{
                    background-color: #FF94AB;
                }
            }
        }
    }
}


.empty-data{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        width: 60px;
        height: 60px;
    }
}


@-webkit-keyframes animation-bg {
    0%     {background-color:#ffffff;}
    50.0%  {background-color:#F2F2F2;} /* your chosen 'mid' color */
    100.0%  {background-color:#ffffff;}
}

@keyframes animation-bg {
    0%     {background-color:#ffffff;}
    50.0%  {background-color:#F2F2F2;}
    100.0%  {background-color:#ffffff;}
}
