<ion-header no-border>
  <div class="header-n">
    <div class="button">
      <img src="assets/icon/logo_my_package_i.svg" alt="">
    </div>
    <div class="center"></div>
    <div class="button" (click)="filter()">
      <img src="assets/icon/filter-app.svg" alt="">
    </div>
    <div class="button" (click)="qrcode()">
      <img src="assets/icon/qr-code-app.svg" alt="">
    </div>
    <div class="button" (click)="logout()">
      <img src="assets/icon/logout-app.svg" alt="">
    </div>
    <!-- <div class="button">
        <img src="assets/icon/last-track-left-arrow.svg" alt="">
      </div> -->
  </div>
</ion-header>
<ion-content>
  <div class="item">
    <div class="head">13 พฤษภาคม 2562</div>
    <div class="list-package">
      <div class="box new">
        <div class="image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/250px-Gatto_europeo4.jpg"
            alt="">
        </div>
      </div>
      <div class="box sussess">
        <div class="image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/250px-Gatto_europeo4.jpg"
            alt="">
        </div>
      </div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </div>
  <div class="item active">
    <div class="head">13 พฤษภาคม 2562</div>
    <div class="list-package">
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box" (click)="more()">
        <div class="image">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/250px-Gatto_europeo4.jpg"
            alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- <super-tabs>
    <super-tabs-container class="tab-mach">
      <super-tab>
        <ion-nav [root]="tab1"></ion-nav>
      </super-tab>
    </super-tabs-container>
  </super-tabs> -->
</ion-content>
<!-- <ion-footer no-border>
  <div class="tabs-app">
    <div class="tab" (click)="changeTab(0)" [class.active]="selectTabNumber==0">
      <div class="icon">
        <img src="assets/icon/icon-tab1.svg" alt="" *ngIf="selectTabNumber!=0">
        <img src="assets/icon/icon-tab1-active.svg" alt="" *ngIf="selectTabNumber==0">
      </div>
      <div class="label">ยังไม่ได้รับ</div>
    </div>
    <div class="tab" (click)="changeTab(1)" [class.active]="selectTabNumber==1">
      <div class="icon">
        <img src="assets/icon/icon-tab2.svg" alt="" *ngIf="selectTabNumber!=1">
        <img src="assets/icon/icon-tab2-active.svg" alt="" *ngIf="selectTabNumber==1">
      </div>
      <div class="label">รับแล้ว</div>
    </div>
  </div>
</ion-footer> -->