<ion-header no-border>
  <div class="header-n">
    <div class="button" (click)="close()">
      <img src="assets/icon/back.svg" alt="">
    </div>
    <div class="center"></div>
  </div>
</ion-header>

<ion-content>
  <div class="item active">
    <div class="head">13 พฤษภาคม 2562</div>
    <div class="list-package">
      <div class="box" (click)="detail()"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </div>
</ion-content>