.header-n{
    height: 50px;
    background-color: var(--color-app-3);
    display: flex;
    align-items: center;
    width: 100%;
    .button{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        background-color: var(--color-app-3);
        img{
            width: 22px;
            height: 22px;
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
        }
    }
    .button:active:hover{
        background-color: var(--color-app-4);
        img{
            width: 20px;
            height: 20px;
        }
    }
    .center{
        flex: 1;
        padding: 0 10px;
        color: var(--color-app-5);
        text-align: center;
        font-weight: bold;
        &.c{

        }
    }
}
ion-content{
    --background:var(--color-app-1);
}

.list{
    max-width: 660px;
    margin: auto;
    padding: 20px;
    .item{
        padding: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
        outline: none;
        .icon{
            width: 30px;
            height: 30px;
        }
        .con{
            flex: 1;
            padding-left: 10px;
            .title{
                color: var(--color-app-4);
                font-weight: bold;
            }
            .sub{
                color: var(--color-app-2);
            }
        }
        .next{
            width: 13px;
            height: 13px;
        }
    }
    .item:active:hover{
        filter: brightness(80%);
    }
}