<ion-header no-border>
  <div class="header-n">
    <div class="button">
      <img src="assets/icon/logo_my_package_i.svg" alt="">
    </div>
    <div class="center">Admin</div>
    <div class="button" (click)="logout()">
      <img src="assets/icon/logout-app.svg" alt="">
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="list">
    <div class="item" (click)="packageIn()">
      <div class="icon">
        <img src="assets/icon/in.svg" alt="">
      </div>
      <div class="con">
        <div class="title">พัสดุเข้า</div>
        <div class="sub">เพิ่มพัสดุเข้าสู่ระบบเมื่อมีของมาส่ง</div>
      </div>
      <div class="next">
        <img src="assets/icon/right.svg" alt="">
      </div>
    </div>
    <div class="item" (click)="packageOut()">
      <div class="icon">
        <img src="assets/icon/out.svg" alt="">
      </div>
      <div class="con">
        <div class="title">พัสดุออก</div>
        <div class="sub">นำพัสดุออกเมื่อเข้าของมารับ</div>
      </div>
      <div class="next">
        <img src="assets/icon/right.svg" alt="">
      </div>
    </div>
    <div class="item" (click)="packageHistory()">
      <div class="icon">
        <img src="assets/icon/history.svg" alt="">
      </div>
      <div class="con">
        <div class="title">ประวัติ</div>
        <div class="sub">ดูประวัติการทำรายการ</div>
      </div>
      <div class="next">
        <img src="assets/icon/right.svg" alt="">
      </div>
    </div>
  </div>
  <!-- <div class="header-x">
    <div class="title">MY PACKAGE</div>
    <div class="sub">For Admin</div>
  </div>
  <div class="menu">
    <div class="item">
      <div class="box" [routerLink]="['','members','admin-package-in']">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47.17" height="53.615"
            viewBox="0 0 47.17 53.615">
            <defs>
              <linearGradient id="linear-gradient" x2="1" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#e84f6e" />
                <stop offset="1" stop-color="#eb6a52" />
              </linearGradient>
            </defs>
            <g id="delivery-packages-on-a-trolley" transform="translate(-36.787 -0.001)">
              <g id="Group_6" data-name="Group 6" transform="translate(36.787 0.001)">
                <path id="Path_9" data-name="Path 9" d="M37.079,9.248a5.791,5.791,0,1,1,11-3.629l11.38,34.49a7.6,7.6,0,0,0-3.314-.125L45.127,6.592a2.683,2.683,0,0,0-5.1,1.681,1.554,1.554,0,1,1-2.952.974ZM81.915,36.3,63.27,42.456a7.615,7.615,0,0,1,1.519,2.653c.012.036.018.072.03.108l18.07-5.962a1.554,1.554,0,0,0-.974-2.952ZM63.314,45.6a6.1,6.1,0,1,1-7.71-3.884A6.1,6.1,0,0,1,63.314,45.6Zm-2.9.956a3.052,3.052,0,1,0-1.942,3.855A3.052,3.052,0,0,0,60.415,46.553ZM77.2,12.909l6.33,19.186a.777.777,0,0,1-.494.981L63.115,39.649a.777.777,0,0,1-.981-.494L55.8,19.969a.777.777,0,0,1,.494-.981l19.923-6.574A.777.777,0,0,1,77.2,12.909ZM74.568,24.054l-6.784-3.732-3.23,7.036,2.138.984,1.4-3.044L70.61,32.94l2.413-.8L70.5,24.5l2.933,1.614Zm-5.92-11.446L64.6.342a.5.5,0,0,0-.627-.316L60.5,1.171l-.017.031-.029-.016-1.831.6L60.134,6.36l-2.065.681L56.561,2.472l-1.831.6-.014.03-.032-.015L51.236,4.229a.5.5,0,0,0-.316.627l4.047,12.266a.5.5,0,0,0,.627.316l12.738-4.2A.5.5,0,0,0,68.648,12.608Z"
                  transform="translate(-36.787 -0.001)" fill="url(#linear-gradient)" />
              </g>
            </g>
          </svg>
        </div>
        <div class="label">พัสดุเข้า</div>
      </div>
    </div>
    <div class="item">
      <div class="box" [routerLink]="['','members','admin-package-out']">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48.601" height="50.543"
            viewBox="0 0 48.601 50.543">
            <defs>
              <linearGradient id="linear-gradient" x2="1" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#e84f6e" />
                <stop offset="1" stop-color="#eb6a52" />
              </linearGradient>
            </defs>
            <g id="delivery-worker-giving-a-box-to-a-receiver" transform="translate(-11.757 0)">
              <path id="Path_10" data-name="Path 10" d="M38.608,10.246H34.746V12.16h-1.8V10.246H29.056a2.543,2.543,0,0,0-2.543,2.543v5.966l4.414,4.128a3.405,3.405,0,0,1,.689.928h6.992a2.543,2.543,0,0,0,2.543-2.543v-8.48A2.543,2.543,0,0,0,38.608,10.246Zm-3.653,7.373v3.737H32.7V17.619H31.1l2.734-3.236,2.724,3.247S36.545,17.619,34.955,17.619ZM11.757,5.232a5.232,5.232,0,1,1,5.232,5.232A5.232,5.232,0,0,1,11.757,5.232ZM29.841,26.544a1.707,1.707,0,0,1-2.413.081L20.4,20.054V30.126a3.393,3.393,0,0,1-1.284,2.648l3.81,15.658a1.707,1.707,0,0,1-1.255,2.062,1.69,1.69,0,0,1-.4.048,1.707,1.707,0,0,1-1.658-1.3l-2.188-8.991-1.232,8.61a1.707,1.707,0,0,1-3.38-.484l2.213-15.463a3.4,3.4,0,0,1-1.45-2.786V16.87a3.4,3.4,0,0,1,4.648-3.176,1.694,1.694,0,0,1,.83.421L29.76,24.131A1.707,1.707,0,0,1,29.841,26.544ZM55.126,10.463a5.232,5.232,0,1,1,5.232-5.232A5.232,5.232,0,0,1,55.126,10.463ZM42.354,24.131,53.062,14.115a1.694,1.694,0,0,1,.83-.421A3.4,3.4,0,0,1,58.54,16.87V30.126a3.405,3.405,0,0,1-1.45,2.786L59.3,48.374a1.707,1.707,0,0,1-3.38.484l-1.232-8.61L52.5,49.239a1.707,1.707,0,1,1-3.317-.807L53,32.774a3.393,3.393,0,0,1-1.284-2.648V20.054l-7.025,6.571a1.707,1.707,0,0,1-2.332-2.494Z"
                transform="translate(0)" fill="url(#linear-gradient)" />
            </g>
          </svg>

        </div>
        <div class="label">พัสดุออก</div>
      </div>
    </div>
    <div class="item">
      <div class="box" [routerLink]="['','members','admin-room']">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="51.301" height="47.869"
            viewBox="0 0 51.301 47.869">
            <defs>
              <linearGradient id="linear-gradient" x1="0.113" y1="0.133" x2="1" y2="1" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#e84f6e" />
                <stop offset="1" stop-color="#eb6a52" />
              </linearGradient>
            </defs>
            <g id="commercial-delivery-symbol-of-a-list-on-clipboard-on-a-box-package" transform="translate(-0.001 -20.47)">
              <path id="Path_13" data-name="Path 13" d="M50.236,28.558l-5.608-7.036a2.792,2.792,0,0,0-2.183-1.052H13.459a2.792,2.792,0,0,0-2.183,1.052L5.667,28.558A5.749,5.749,0,0,0,4.6,31.7v5.154a3.616,3.616,0,0,1,1.877-1.5A3.913,3.913,0,0,1,9.4,31.87a4,4,0,0,1,1.027-.138,3.914,3.914,0,0,1,3.259,1.749,3.72,3.72,0,0,1,.639-.056,3.636,3.636,0,0,1,1.818.492l3.106-.808A4.718,4.718,0,0,1,25,36.491l6.088,23.4a4.722,4.722,0,0,1-3.382,5.759l-2.717.707H47.811a3.49,3.49,0,0,0,3.49-3.49V31.6A5.707,5.707,0,0,0,50.236,28.558ZM7.5,28.5l1.857-2.33H22.029l1.25-2.056H11l1.371-1.72a1.389,1.389,0,0,1,1.092-.526H42.444a1.389,1.389,0,0,1,1.092.526l1.371,1.72h-12.5l.7,2.056H46.546L48.4,28.5Zm.566,8.6-.783.2a1.561,1.561,0,0,0-1.118,1.9l.008.031a1.561,1.561,0,0,0,1.9,1.118l6.643-1.728a1.561,1.561,0,0,0,1.118-1.9l-.008-.031a1.561,1.561,0,0,0-1.9-1.118l-.783.2a.783.783,0,0,1-.955-.561l-.007-.025a1.819,1.819,0,0,0-2.218-1.3l-.041.011a1.819,1.819,0,0,0-1.3,2.218l.007.025A.783.783,0,0,1,8.066,37.1Zm2.141-2.186a.788.788,0,1,1-.565.961A.788.788,0,0,1,10.208,34.909ZM20,58.974a.526.526,0,0,1-.376.641L9.957,62.129a.526.526,0,0,1-.641-.376l-.132-.509A.525.525,0,0,1,9.56,60.6l9.665-2.514a.526.526,0,0,1,.641.376Zm1.179-10.082.132.509a.525.525,0,0,1-.376.641L7.707,53.481a.526.526,0,0,1-.641-.376L6.934,52.6a.525.525,0,0,1,.376-.641l13.225-3.441A.525.525,0,0,1,21.177,48.891Zm-1.435-3.428L6.516,48.9a.526.526,0,0,1-.641-.376l-.132-.509a.525.525,0,0,1,.376-.641l13.225-3.441a.526.526,0,0,1,.641.376l.132.509A.526.526,0,0,1,19.742,45.463Zm-.294,9.309L8.766,57.551a.526.526,0,0,1-.641-.376l-.132-.509a.526.526,0,0,1,.376-.641l10.682-2.779a.526.526,0,0,1,.641.376l.132.509A.525.525,0,0,1,19.448,54.772Zm9.615,5.645-6.087-23.4a2.628,2.628,0,0,0-3.205-1.882l-3.1.807a2.635,2.635,0,0,1-1.684,3.7l-6.546,1.7A2.679,2.679,0,0,1,5.216,39.7a2.708,2.708,0,0,1-.143-.737l-3.105.808a2.628,2.628,0,0,0-1.882,3.2l6.087,23.4a2.628,2.628,0,0,0,3.205,1.882l17.8-4.632A2.628,2.628,0,0,0,29.063,60.417ZM8.716,65.71,3.423,45.363l17.8-4.632L26.52,61.079Z"
                transform="translate(0)" fill="url(#linear-gradient)" />
            </g>
          </svg>

        </div>
        <div class="label">จัดการห้อง</div>
      </div>
    </div>
    <div class="item">
      <div class="box" (click)="logout()">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="51" height="51.003"
            viewBox="0 0 51 51.003">
            <defs>
              <linearGradient id="linear-gradient" x1="0.5" y1="2.121" x2="-1.302" y2="-0.813" gradientUnits="objectBoundingBox">
                <stop offset="0" stop-color="#eb6a52" />
                <stop offset="1" stop-color="#e84f6e" />
              </linearGradient>
            </defs>
            <g id="logout" transform="translate(-0.014)">
              <g id="Group_10" data-name="Group 10" transform="translate(0.014)">
                <g id="Group_9" data-name="Group 9" transform="translate(0)">
                  <path id="Path_14" data-name="Path 14" d="M319.768,157.027a2.149,2.149,0,0,0-.461-.693l-6.373-6.373a2.125,2.125,0,1,0-3,3l2.748,2.748H300.805a2.125,2.125,0,1,0,0,4.25h11.871l-2.748,2.748a2.125,2.125,0,1,0,3,3l6.373-6.373a2.105,2.105,0,0,0,.461-.693A2.127,2.127,0,0,0,319.768,157.027Z"
                    transform="translate(-268.928 -134.463)" fill="url(#linear-gradient)" />
                  <path id="Path_15" data-name="Path 15" d="M36.141,29.752a2.124,2.124,0,0,0-2.125,2.125V42.5h-8.5V8.5A2.128,2.128,0,0,0,24,6.465L16.62,4.25h17.4V14.876a2.125,2.125,0,1,0,4.25,0V2.125A2.125,2.125,0,0,0,36.141,0h-34A1.894,1.894,0,0,0,1.92.04a2.1,2.1,0,0,0-.9.314C.972.385.915.387.87.421.853.434.847.457.83.47a2.105,2.105,0,0,0-.565.672,1.736,1.736,0,0,0-.059.179,2.016,2.016,0,0,0-.168.5A1.323,1.323,0,0,0,.044,2c0,.043-.03.081-.03.123v42.5A2.124,2.124,0,0,0,1.723,46.71l21.251,4.25A1.978,1.978,0,0,0,23.39,51a2.127,2.127,0,0,0,2.125-2.125V46.753H36.141a2.124,2.124,0,0,0,2.125-2.125V31.877A2.124,2.124,0,0,0,36.141,29.752Z"
                    transform="translate(-0.014)" fill="url(#linear-gradient)" />
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div class="label">ออกจากระบบ</div>
      </div>
    </div>
  </div> -->
</ion-content>