<ion-header no-border>
  <div class="header-n">
    <div class="button" (click)="close()">
      <img src="assets/icon/back.svg" alt="">
    </div>
    <div class="center"></div>
  </div>
</ion-header>

<ion-content>
  <div class="container">
    <div class="image"></div>
    <div class="status">
      <div class="title">พัสดุเข้า</div>
      <div class="date">
        <div class="icon">
          <img src="assets/icon/date.svg" alt="">
        </div>
        <div class="text">14 พฤษภาคม 2562 14:30</div>
      </div>
    </div>
    <div class="status">
      <div class="title">พัสดุออก</div>
      <div class="date">
        <div class="icon">
          <img src="assets/icon/date.svg" alt="">
        </div>
        <div class="text">14 พฤษภาคม 2562 14:30</div>
      </div>
    </div>
    <div class="signature">
      <div class="signature-image"></div>
      <div class="text">ลายเซ็นผู้รับพัสดุ</div>
    </div>
  </div>
</ion-content>