.header-n{
    height: 50px;
    background-color: var(--color-app-3);
    display: flex;
    align-items: center;
    width: 100%;
    .button{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        background-color: var(--color-app-3);
        img{
            width: 22px;
            height: 22px;
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
        }
    }
    .button:active:hover{
        background-color: var(--color-app-4);
        img{
            width: 20px;
            height: 20px;
        }
    }
    .center{
        flex: 1;
        padding: 0 10px;
        color: #000000;
        &.c{

        }
    }
}
ion-content{
    --background:var(--color-app-1);
}

.container{
    padding: 10px 30px;
}

.image{
    padding-top: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.status{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    padding: 10px;
    .title{
        color: var(--color-app-3);
        font-weight: bold;
    }
    .date{
        display: flex;
        .icon{
            width: 20px;
            height: 20px;
        }
        .text{
            padding-left: 5px;
            color: var(--color-app-3);
        }
    }
}
.signature{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    .text{
        text-align: center;
        color: var(--color-app-3);
    }
}