<ion-header no-border>
  <div class="header-n">
    <div class="button">
      <img src="assets/icon/logo_my_package_i.svg" alt="">
    </div>
    <div class="center"></div>
    <div class="button" (click)="filter()">
      <img src="assets/icon/filter-app.svg" alt="">
    </div>
    <div class="button" (click)="qrcode()">
      <img src="assets/icon/qr-code-app.svg" alt="">
    </div>
    <div class="button" (click)="logout()">
      <img src="assets/icon/logout-app.svg" alt="">
    </div>
  </div>
</ion-header>
<ion-content>
  <div class="container">
      <div class="item">
          <div class="head">13 พฤษภาคม 2562</div>
          <div class="list-package">
            <div class="box new" (click)="detail()">
              <div class="image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/250px-Gatto_europeo4.jpg"
                  alt="">
              </div>
            </div>
            <div class="box sussess">
              <div class="image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/250px-Gatto_europeo4.jpg"
                  alt="">
              </div>
            </div>
            <div class="box"></div>
            <div class="box"></div>
          </div>
        </div>
        <div class="item active">
          <div class="head">13 พฤษภาคม 2562</div>
          <div class="list-package">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box" (click)="more()">
              <div class="image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Gatto_europeo4.jpg/250px-Gatto_europeo4.jpg"
                  alt="">
              </div>
            </div>
          </div>
        </div>
  </div>
</ion-content>
