.header-n{
    height: 50px;
    background-color: var(--color-app-3);
    display: flex;
    align-items: center;
    width: 100%;
    .button{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        background-color: var(--color-app-3);
        img{
            width: 22px;
            height: 22px;
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
        }
    }
    .button:active:hover{
        background-color: var(--color-app-4);
        img{
            width: 20px;
            height: 20px;
        }
    }
    .center{
        flex: 1;
        padding: 0 10px;
        color: #000000;
        &.c{

        }
    }
}
ion-content{
    --background:var(--color-app-1);
}
.container{
    max-width: 660px;
    margin: auto;
}
.item{
    padding: 10px 20px;
    .head{
        padding: 10px 0;
    }
    .list-package{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        .box{
            padding-top: 100%;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
            position: relative;
            .image{
                position: absolute;
                width: 100%;
                height: 100%;
                overflow: hidden;
                top: 0;
                border-radius: 10px;
                -webkit-transition: all 300ms ease;
                transition: all 300ms ease;
            }
            .image:active:hover{
                opacity: 0.5;
            }
            &.new::after{
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: var(--color-app-6);
                top:-2px;
                right: -2px;
            }
            &.sussess{
                .image{
                    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                }
            }
        }
        
        .box:nth-child(5)::after{
            content: "เพิ่ม";
            color:var(--color-app-5);
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            border-radius: 10px;
            background-color: rgba(0,0,0,0.8);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

