ion-content{
    // --background: linear-gradient(to right bottom, #FF8195,#F9476C );
    --background:transparent;
    background: transparent;
}

.modal-wrapper{
    --background:transparent !important;
    background: transparent !important;
}
.container{
    height: 100%;
    // background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-1{
    font-size: 14px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.text-2{
    font-size: 12px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    &.sp{
        padding: 20px;
    }
}

.qrcode{
    width: 100%;
    max-width: 250px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    img{
        width: 100%;
    }
}
.flex-1{
    width: 100%;
    padding: 20px 0;
}
.flex-2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    bottom: 0;
    position: absolute;
    width: 100%;
    .btn-close{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 10px;
        background-color: #ffffff;
        -webkit-transition: all 100ms ease;
        transition: all 100ms ease;
        outline: none;
    }
    .btn-close:active:hover{
        padding: 15px;
    }
}