<ion-content>
  <div class="container">
    <div class="flex-1">
      <div class="text-1">คิวอาร์โค้ด ใช้สำหรับรับพัสดุ</div>
      <div class="text-2">กรุณาแสดงคิวอาร์โค้ดข้างล่างนี้ให้กับพนักงาน</div>
    </div>
    <div class="flex-2">
      <div class="qrcode">
        <qrcode [qrdata]="myAngularxQrCode" [size]="256" [level]="'M'"></qrcode>
      </div>
    </div>
    <div class="text-2 sp">ห้อง {{myAngularxQrCode}}</div>
  </div>
  <div class="footer">
    <div class="btn-close" (click)="closeModal()">
      <img src="assets/icon/cancel-music.svg" alt="">
    </div>
  </div>
</ion-content>