.nav-app{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,#E84F6E, #EB6A52 );
    width: 100%;
    height: 50px;
    padding: 10px;
    .button{
        width: 25px;
        height: 25px;
        -webkit-transition: all 100ms ease;
        transition: all 100ms ease;
        outline: none;
        &.alpha{
            img{
                opacity: 0.3;
                filter: alpha(opacity=30)
            }
        }
    }
    .button:active:hover{
        padding: 2px;
    }
    .label{
        flex: 1;
        padding: 0 10px;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
}
ion-content{
    --background:#F2F2F2;
}

.title{
    position: absolute;
    width: 50px;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .in{
        transform: rotate(90deg);
        position: absolute;
        width: 200px;
        text-align: center;
    }
}

.form{
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    .input{
        height: 40px;
        width: 100%;
        border-radius: 20px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #ffffff;
        input{
            width: 100%;
            border: none;
            background: none;
            outline: none;
            padding-left: 10px;
            font-size: 14px;
        }
    }
    .button{
        height: 40px;
        width: 100%;
        border-radius: 20px;
        // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        margin: 5px;
        background-image: linear-gradient(to bottom, #EB6A52,#E84F6E );
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        outline: none;
        &.c{
            background-image:none;
            background-color: #ffffff;
            border: 1px solid #E84F6E;
            color: #E84F6E;
        }
    }
}