<ion-header>
  <div class="nav-app">
    <div class="button">
    </div>
    <div class="label">เซ็นลายเซ็นรับของ</div>
    <div class="button" (click)="finish()">
      <img src="assets/icon/close.svg" alt="">
    </div>
  </div>
</ion-header>

<ion-content #content>
  <div class="title">
    <div class="in">เซ็นชื่อข้างล่างนี้</div>
  </div>
  <signature-pad [options]="signaturePadOptions" id="signatureCanvas"></signature-pad>
</ion-content>

<ion-footer>
  <div class="form">
    <div class="button c" (click)="drawClear()">ล้าง</div>
    <div class="button" (click)="drawComplete()">บันทึก</div>
  </div>
</ion-footer>