// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
*{
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
}

.alert-head{
    text-align: center !important;
    .alert-title{
        text-align: center !important;
    }
}
.alert-button-group {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    button {
        color: #E84F6E !important;
        border: 1px solid #E84F6E !important;
        border-radius: 12px !important;
        flex: 1 !important;
        margin: 10px !important;
        display: flex  !important;
        justify-content: center !important;
        align-items: center !important;
        span {
            position: relative;
            display: block !important;
            text-align: center !important;
        }
        &:last-of-type {
            background-color: #E84F6E;
            color: #fff !important;
        }
    }
}


.modal-wrapper{
    --background:rgba(0,0,0,0.0) !important;
}